@import '../../functions';

.profileposts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    @include mdscreen() {
        grid-template-columns: repeat(2, 1fr);
    }
}