@import '../../functions';


.searchItem {
    @include flex-grid($align: center, $justify: space-between);
    width: 100%;
    padding: 10px 0;
    cursor: pointer;

    &:hover {
        background-color: var(--button-hover);
    }

    &.active {
        display: none;
    }

    div {
        @include flex-grid($align: center, $gap: 15px);
        margin-left: 20px;

        img {
            height: 40px;
            width: 40px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .removeBtn {
        color: var(--text-light);
        margin-right: 20px;
    }
}